<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% load activelink %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{{ MEDIA_URL }}css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }
        .sidebar-nav {
            padding: 9px 0;
        }
        .row-fluid {
            text-align: center;
        }
    </style>
    <link href="{{ MEDIA_URL }}css/bootstrap-responsive.css" rel="stylesheet">

    {% block extrahead %}{% endblock %}
    {% block script %}{% endblock %}
</head>

<body>
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
                <ul class="dropdown-menu">
                    <li><a href="#">Profile</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Sign Out</a></li>
                </ul>
            </div>
            <div class="nav-collapse">
                <ul class="nav">
                    <li {% ifactive "main" %}class="active"{% endifactive %}><a href="{% url main %}">Home</a></li>
                    {% if user.is_authenticated %}
                        <li><a rel="nofollow" href="/logout/">Logout</a></li>
                        <li {% ifactive "todo" %}class="active"{% endifactive %}><a href="{% url todo %}">Todo</a></li>
                    {% else %}
                        <li> <a rel="nofollow" href="/login/google/">Google</a></li>
                    {% endif %}
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
    <h2 id="heading">{% block heading %}{% endblock %}</h2>
    <div id="content">
      {% block content %}{% endblock %}
    </div>



    <div>
    </div><!--/span-->
        </div><!--/row-->


        <footer>
            <div>
                <h3>User data:</h3>
                <table>
                    <tr class="odd"><th>Id:</th> <td>{{ user.id }}</td></tr>
                    <tr class="even"><th>Username:</th> <td>{{ user.username }}</td></tr>
                    <tr class="odd"><th>Email:</th> <td>{{ user.email|default:"Not provided" }}</td></tr>
                    <tr class="even"><th>First name:</th> <td>{{ user.first_name|default:"Not provided" }}</td></tr>
                    <tr class="odd"><th>Last name:</th> <td>{{ user.last_name|default:"Not provided" }}</td></tr>
                    <tr class="even"><th>Last login backend:</th> <td>{{ last_login }}</td></tr>
                </table>
            </div>

        </footer>

    </div><!--/.fluid-container-->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ MEDIA_URL }}js/jquery.js"></script>
    <script src="{{ MEDIA_URL }}js/scripts.js"></script>
    <script src="{{ MEDIA_URL }}js/bootstrap-transition.js"></script>
    <script src="{{ MEDIA_URL }}js/bootstrap-alert.js"></script>
    <script src="{{ MEDIA_URL }}js/bootstrap-modal.js"></script>
    <script src="{{ MEDIA_URL }}js/bootstrap-dropdown.js"></script>
    <script src="{{ MEDIA_URL }}js/bootstrap-scrollspy.js"></script>
    <script src="{{ MEDIA_URL }}js/bootstrap-tab.js"></script>
    <script src="{{ MEDIA_URL }}js/bootstrap-tooltip.js"></script>
    <script src="{{ MEDIA_URL }}js/bootstrap-popover.js"></script>
    <script src="{{ MEDIA_URL }}js/bootstrap-button.js"></script>
    <script src="{{ MEDIA_URL }}js/bootstrap-collapse.js"></script>
    <script src="{{ MEDIA_URL }}js/bootstrap-carousel.js"></script>
    <script src="{{ MEDIA_URL }}js/bootstrap-typeahead.js"></script>

    </body>
</html>
