{% extends "base.html" %}
{% load url from future %}

{% block script %}

{% endblock %}

{% block heading %}{% endblock %}

{% block content %}

    {% for board in boards %}
        {{ board.id }} {{ board.name }} {{ board.creator }} </br>
    {% endfor %}
    <form method="post" action="">
        {% for i in form %}
            {{ i }}
        {% endfor %}

{#            {{ form }}#}
        <input type="submit" value="Send" />
    </form>

<div>

{% for i in items %}
    {{ i }}
{% endfor %}
</div>
{% endblock %}
