{% extends "base.html" %}
{#{% load url from future %}#}

{% block script %}

{% endblock %}

{% block heading %}{% endblock %}

{% block content %}

    {% for board in boards %}
        {{ board.id }} {{ board.name }} {{ board.creator }} <a href="{% url deleteBoard board.id %}">delete</a><br>

    {% endfor %}
    <form method="post" action="">
        {% for i in form %}
            {{ i }}
        {% endfor %}

{#            {{ form }}#}
        <input type="submit" value="Send" />
    </form>

<div>

{% for board, tasks in items.items %}
        ! {{ board }}<br>
    {% for task in tasks %}
        {{ task }}<a href="{% url deleteTask task.id %}">delete</a><br>
    {% endfor %}
{% endfor %}
</div>
{% endblock %}
