{% extends "base.html" %}

{% block content %}
    <h2>Viewers: </h2>
    {% block script %}

    {% endblock %}
    {% load activelink %}
    {% for viewer in viewers %}
        <img src="http://profiles.google.com/s2/photos/profile/{{ viewer|email }}?sz=20">
        {{ viewer }}
    {% endfor %}
<div class="container">
  <div class="row">
    <div class="span12">
	<h2>Add a new Task: </h2>
	  <form method="POST" action="{% url todo %}" class="form-search">
	  	{% csrf_token %}
		<input id="name" type="text" placeholder="Task name and press enter" class="input-xxlarge" name="name"/>
{#		<input type="submit" class="btn primary">#}
	  </form>
    </div>
  </div>

  <div class="row">
    <div class="span12">
        <br>
        <div id="task" class="well form-inline">
            {% for task in tasks %}
                <h6>{{task.name}}</h6>
                {{task.finished}}
                {{task.shared}}
                {{user}}

                <form method="POST" action="{% url update_task task.id %}" class="form-inline">
                    {% csrf_token %}
                    <input type="text" name="email">
                    <input type="submit" name="delete" value="Delete" class="btn danger">
                    <input type="submit" name="complete" value="Complete" class="btn primary">
                    <input type="submit" name="share" data-content="<input type='text'/>" data-placement="top" rel="popover" value="Share" class="btn danger">
                </form>

            {% endfor %}
        </div>
            {% for task in sharedTasks %}
                  {{task.tasks.name}}
                  {{task.tasks.finished}}
                  {{task.tasks.shared}}
                  {{task.tasks.owner.email}}
                      <form method="POST" action="{% url update_task task.id %}">
                          {% csrf_token %}
                          <input type="submit" value="Complete" class="btn primary">
{#                          <input type="submit" value="Delete" class="btn danger">#}
                      </form>
            {% endfor %}
      <br />
    </div>
  </div>
</div>

{% endblock %}