{% extends "base.html" %}

{% block content %}
    <h2>Viewers: </h2>
    {% block script %}

    {% endblock %}
    {% load activelink %}
        {% for friend in friends %}
            {{ friend.friend.email}}
             <a href="{% url delete_friend friend.friend.id %}"><span class="label label-important">x</span></a>
        {% endfor %}
    <form method="POST" action="{% url add_friend %}" class="form-search">
        {% csrf_token %}
        {{ addFriend }}
    </form>
    {% for viewer in viewers %}
        <img src="http://profiles.google.com/s2/photos/profile/{{ viewer|email }}?sz=20">
        {{ viewer }}
    {% endfor %}
<div class="container">
  <div class="row">
    <div class="span12">
	<h2>Add a new Task: </h2>
	  <form method="POST" action="{% url todo %}" class="form-search">
	  	{% csrf_token %}
		<input id="name" type="text" placeholder="Task name and press enter" class="input-xxlarge" name="name"/>
{#		<input type="submit" class="btn primary">#}
	  </form>
    </div>
  </div>

  <div class="row">
    <div class="span6">
            {% for task in tasks %}
                <h3>{{task.name}}</h3>
                {% if task.finished %}
                    <span class="label label-success">Finished</span>
                {% else %}
                    <span class="label label-important">Not finished</span>
                {% endif %}
                {% if task.shared %}
                    <span class="label label-success">Shared</span>
                {% else %}
                    <span class="label label-important">Not shared</span>
                {% endif %}
                <span class="label label-info">{{user.email}}</span>

                <form method="POST" action="{% url update_task task.id %}" class="form-inline">
                    {% csrf_token %}
                    <br>
                    <input placeholder="email" name="email">
                    <input type="submit" name="delete" value="Delete" class="btn-danger">
                    <input type="submit" name="share" value="Share" class="btn-warning">
                    <input type="submit" name="complete" value="Complete" class="btn-success">
                </form>

            {% endfor %}
    </div>
    <div class="span6">
            {% for task in sharedTasks %}
                <h3>{{task.tasks.name}}</h3>
                {% if task.tasks.finished %}
                <span class="label label-success">Finished</span>
                {% else %}
                    <span class="label label-important">Not finished</span>
                {% endif %}
                <span class="label label-info">{{ task.tasks.owner.email }}</span>
                      <form method="POST" action="{% url update_task task.tasks.id %}">
                          {% csrf_token %}
                          <br>
                          <input type="submit" name="complete" value="Complete" class="btn-success">
                          <input type="submit" name="GiveBack" value="GiveBack" class="btn-danger">
                          {#                          <input type="submit" value="Delete" class="btn danger">#}
                      </form>
            {% endfor %}
      <br />
    </div>



  </div>

</div>

{% endblock %}